.h1{
    font-family: monospace;
}
p{
    font-family: monospace;
}
.menu{
    display:flex;
    flex-direction: row;
    gap:1em;
    background-color: aliceblue;
    width:300px;
    height:40px;
    justify-content: center;
}